/*Mobile first, pantalla XS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    border-radius: 10px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item{
    padding: 5px;
}

/* Pantalla S,M y L */

@media(min-width:576px)  {

    .col-sm-md-lg-12 {width: 100%;}
    .col-sm-md-lg-11 {width: 91.66666667%;}
    .col-sm-md-lg-10 {width: 83.33333334%;}
    .col-sm-md-lg-9 {width: 75%;}
    .col-sm-md-lg-8 {width: 66.66666667%;}
    .col-sm-md-lg-7 {width: 58.33333334%;}
    .col-sm-md-lg-6 {width: 50%;}
    .col-sm-md-lg-5 {width: 41.66666667%;}
    .col-sm-md-lg-4 {width: 33.33333334%;}
    .col-sm-md-lg-3 {width: 25%;}
    .col-sm-md-lg-2 {width: 16.66666667%;}
    .col-sm-md-lg-1 {width: 8.33333333%;}
}

/* Pantalla XL  */
@media(min-width:1200px) {

    .col-xl-12 {width: 100%;}
    .col-xl-11 {width: 91.66666667%;}
    .col-xl-10 {width: 83.33333334%;}
    .col-xl-9 {width: 75%;}
    .col-xl-8 {width: 66.66666667%;}
    .col-xl-7 {width: 58.33333334%;}
    .col-xl-6 {width: 50%;}
    .col-xl-5 {width: 41.66666667%;}
    .col-xl-4 {width: 33.33333334%;}
    .col-xl-3 {width: 25%;}
    .col-xl-2 {width: 16.66666667%;}
    .col-xl-1 {width: 8.33333333%;}
}



